################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Kasino/Kasino/.vs/Kasino
/Kasino/Kasino/obj
/Kasino/Kasino/bin/Debug/net7.0
/Kasino/Kasino/.vs/ProjectEvaluation
